/* skills.css */
.skills-container {
  text-align: center;
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

.skills-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color);
}

.skills-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}


  
  .skills-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }
  
