*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LIGHT THEME */
html {
  background-color: #ffffff;
  color: #1a1a1a;
}

html button{
  background-color: #ea580c;
  color: #fff;
  border: none;
  padding: 10px 15px ;
  border-radius: 5px;
}

html a {
  color: #f97316; /* Orange links */
}

html a:hover {
  color: #ea580c;
}

/* DARK THEME */
html.dark {
  background-color: #0f172a;
  color: #f8fafc;
}

html.dark a {
  color: #38bdf8; /* Sky blue links */
}

html.dark a:hover {
  color: #0ea5e9;
}
